<div class="col justify-content-center py-4">
    <div class="row d-flex justify-content-center py-3">
        <span>Bee game is a simple game in which you are attacking a swarm. <br>
            Game configuration: <br>
            <ul *ngIf="gameDefaultConfiguration">
                <li *ngFor="let beeTypeConfig of gameDefaultConfiguration.beeTypesConfiguration">
                    {{beeTypeConfig.name}}, {{beeTypeConfig.count}} <span *ngIf="beeTypeConfig.count == 1"> bee</span>
                    <span *ngIf="beeTypeConfig.count > 1"> bees</span>, {{beeTypeConfig.healtPoints}}HP,
                    {{beeTypeConfig.hitDamage}} damage/hit
                </li>
            </ul>
            The game consist of pressing the "Hit swarm" button until the swarm is terminated.
        </span>
    </div>
    <div class="row justify-content-center py-3">
        <button class="col-xs-6 col-md-3 btn btn-warning" routerLink="/welcome">Try game</button>
    </div>
</div>

<div class="text-center p-3">
    © 2022 Copyright:
    <a class="text-dark" href="mailto:ionu02618@gmail.com"> Serbanescu Ionut</a>
</div>