<div class="col justify-content-center py-4">
    <div class="row justify-content-center">
        <a routerLink="/about">About the game</a>
    </div>
    <div *ngIf="($gameConfiguration | async) as gameconfiguration" class="col d-flex justify-content-center">
        <h3>Hi {{gameconfiguration.userName}}, here's the game status:</h3>
    </div>
    <div class="row d-flex justify-content-center py-3">

        <div class="col-6 col-lg-3">
            <h5>Swarm status:</h5>
            <table class="table table-responsive table-sm data-table" *ngIf="($swarm | async) as swarm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Bee type</th>
                        <th>Current Health Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bee of swarm.bees" class="text-light"
                        [ngClass]="{'bg-success': bee.actualHealthPoins > 0,'bg-danger': bee.actualHealthPoins == 0}">
                        <td> {{bee.id}}</td>
                        <td>{{bee.beeType.name}}</td>
                        <td>{{bee.actualHealthPoins}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-6 col-lg-3">
            <h5>Hits history:</h5>
            <table class="table table-responsive table-sm data-table" *ngIf="($hits | async) as hits">
                <thead>
                    <tr>
                        <th>Bee Id</th>
                        <th>Timestamp</th>
                        <th>HP Before</th>
                        <th>HP After</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hit of hits">
                        <td>{{hit.damagedBee.id}}</td>
                        <td>{{hit.date | date:'medium'}}</td>
                        <td>{{hit.healthPointBefore}}</td>
                        <td>{{hit.healthPointAfter}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="($isGameOver | async)" class="row d-flex justify-content-center py-3">
        <h2>GAME OVER!</h2>
    </div>

    <div class="row justify-content-center pt-3">
        <button class="btn btn-warning col-xs-12 col-md-2 mt-2 mt-md-0 mx-1" [disabled]="($isGameOver | async)"
            (click)="hitSwarm()">Hit swarm</button>

        <button class="btn btn-warning col-xs-12 col-md-2 mt-2 mt-md-0 mx-1" (click)="resetGame()">Reset Game</button>

        <button class="btn btn-warning col-xs-12 col-md-2 mt-2 mt-md-0 mx-1" routerLink="/config">Change
            Configuration</button>
    </div>
</div>